*.iml
*.idea
.idea/misc.xml
.idea/workspace.xml
app_program_resources/__pycache__/auxilary_functions.cpython-39.pyc
*.pyc
/venv/
*__pycache__
C:\Users\chris\Desktop\B.A\Teki\app_program_documentation\~WRL0896.tmp
Teki/app_program_documentation/~$andler_Linguistik_B_A_Theisis_SoSe2021.docx